<h1>Editing Script Location</h1>

<%= render 'form', script_location: @script_location %>

<%= link_to 'Show', [@project, @script_location] %> |
<%= link_to 'Back', project_script_location_path(@project) %>
